<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ToDoList</title>
	<script src='./vue.min.js'></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="inputValue" />
		<button v-on:click="handleBtnClick">提交</button>
		<ul>
			<li v-for="item in list2">{{item}}</li>
		</ul>
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				list2: ['第一课的内容', '第二课的内容'],
				inputValue: ''
			},
			methods: {
				handleBtnClick: function() {
					this.list2.push(this.inputValue)
					this.inputValue=''
				}
			}
		})
	</script>
	
</body>
</html>